<div class="page-top clearfix" scroll-position="scrolled" max-height="50" ng-class="{'scrolled': scrolled}">
    <a ui-sref="dashboard" ui-sref-active="active" class="al-logo clearfix"><span>YoYoCms</span>Admin</a>
    <a class="collapse-menu-link ion-navicon" ba-sidebar-toggle-menu></a>
    <div class="search">
        <i class="ion-ios-search-strong" ng-click="startSearch()"></i>
        <input id="searchInput" type="text" placeholder="Search for...">
    </div>
    <div class="user-profile clearfix">
        <div class="al-user-profile" uib-dropdown>
            <a uib-dropdown-toggle class="profile-toggle-link">
                <img ng-src="{{::( 'Nasta' | profilePicture )}}">
                <span ng-click="vm.con()">dddd</span>
            </a>
            <ul class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
                <li><i class="dropdown-arr"></i></li>
                <li><a ng-click="vm.con()" ><i class="fa fa-user"></i>个人资料</a></li>
                <li><a data-ng-click="vm.con()" ><i class="fa fa-cog"></i>Settings</a></li>
                <li><a href class="signout"><i class="fa fa-power-off"></i>Sign out</a></li>
            </ul>
        </div>

        <div class="al-user-profile selectLanguage" uib-dropdown ng-if="vm.languages.length">
            <a uib-dropdown-toggle class="profile-toggle-link">
                <i ng-class="vm.currentLanguage.icon"></i>
                <span >
                    {{vm.currentLanguage.displayName}}
                </span>
                <i class="fa fa-angle-down"></i>
            </a>
            
                <ul class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
                    <li ng-repeat="language in vm.languages" ng-if="vm.currentLanguage.name !== language.name">
                        <a  ng-click="changeLanguage(language.name)" >
                            <i ng-class="language.icon"></i> <span ng-bind="language.displayName"></span>
                        </a>
                    </li>
                 
                </ul>
             
        </div>
         

      
        <msg-center></msg-center>
    </div>
</div>