<aside class="al-sidebar" ng-swipe-right="$baSidebarService.setMenuCollapsed(false)" ng-swipe-left="$baSidebarService.setMenuCollapsed(true)"
       ng-mouseleave="hoverElemTop=selectElemTop">
    
    <ul class="al-sidebar-list" slimscroll="{height: '{{menuHeight}}px'}" slimscroll-watch="menuHeight">
        <li ng-repeat="menu in MainMenu.items" class="al-sidebar-list-item" ng-class="::{'with-sub-menu': menu.items.length>0}" ui-sref-active="selected" ba-sidebar-toggling-item="menu">
            <a ng-mouseenter="hoverItem($event, menu)"  ui-sref="{{menu.url}}" ng-if="!menu.items.length" class="al-sidebar-list-link">
                <i ng-class="menu.icon"></i><span ng-bind="menu.displayName"></span>
            </a>
            <a ng-mouseenter="hoverItem($event, menu)" ng-if="menu.items.length" class="al-sidebar-list-link" ba-ui-sref-toggler>
                 <i ng-class="menu.icon"></i>
                <span   ng-bind="menu.displayName"></span>
                <b class="fa fa-angle-down" ui-sref-active="fa-angle-up"
                   ng-if="menu.items.length"></b>
            </a>
            <ul ng-if="menu.items.length" class="al-sidebar-sublist" ng-class="{'slide-right': menu.slideRight}" ba-ui-sref-toggling-submenu>
                
                <li ng-repeat="subitem in menu.items" ng-class="::{'with-sub-menu': subitem.items.length>0}" ui-sref-active="selected" ba-sidebar-toggling-item="subitem" class="ba-sidebar-sublist-item">
                    <a ng-click="con()" ng-mouseenter="hoverItem($event, subitem)" ng-if="subitem.items.length" ba-ui-sref-toggler
                       class="al-sidebar-list-link subitem-submenu-link">
                        <i ng-class="subitem.icon"></i>
                        <span ng-bind="subitem.displayName"></span>
                        <b class="fa" ng-class="{'fa-angle-up': subitem.expanded, 'fa-angle-down': !subitem.expanded}"
                           ng-if="subitem.items.length"></b>
                    </a>
                    <ul ng-if="subitem.items.length" class="al-sidebar-sublist subitem-submenu-list"
                        ng-class="{expanded: subitem.expanded, 'slide-right': subitem.slideRight}"
                        ba-ui-sref-toggling-submenu>
                        <li ng-mouseenter="hoverItem($event, menu)" ng-repeat="subSubitem in subitem.items" ui-sref-active="selected">
                            <a ng-mouseenter="hoverItem($event, menu)" ng-if="!subSubitem.items.length" ui-sref="{{subSubitem.url}}" class="al-sidebar-list-link">
                                <i ng-class="subSubitem.icon"></i>
                                <span ng-bind="subSubitem.displayName"></span>
                            </a>

                        </li>
                    </ul>



                    <a ng-mouseenter="hoverItem($event, menu)" target="{{::(subitem.blank ? '_blank' : '_self')}}"
                       ng-if="!subitem.items.length"
                       ui-state="subitem.url || ''"
                       @*ui-sref="{{subitem.url}}"*@
                       ng-href="{{::(subitem.fixedHref ? subitem.fixedHref: '')}}">
                
                        <i ng-class="subitem.icon"></i><span ng-bind="subitem.displayName"></span>
                    </a>








                </li>
            </ul>
        </li>
    </ul>
    <div class="sidebar-hover-elem" ng-style="{top: hoverElemTop + 'px', height: hoverElemHeight + 'px'}"
         ng-class="{'show-hover-elem': showHoverElem }"></div>
</aside>
