@using YoYo.Cms.Localization
<div ng-controller="app.views.users.index as vm">
    <div class="panel">
        <div class="panel-heading clearfix align-right">
            <button class="btn btn-default" ng-click="vm.exportToExcel()"><i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>
            <button ng-if="vm.permissions.create" class="btn btn-primary" ng-click="vm.createUser()"><i class="fa fa-plus"></i> @L("CreateNewUser")</button>
        </div>
        <div class="panel-body">
        
             
                    <div class="" enter-key="vm.getUsers()">
                        <div class="row" >
                            <div class="col-md-12">
                                <div class="">
                                    <div class="input-group">
                                        <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("SearchWithThreeDot")" type="text">
                                        <span class="input-group-btn">
                                            <button ng-click="vm.getUsers()" class="btn btn-default" type="submit"><i class="fa fa-refresh"></i>刷新</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    
                    
              
       
            <div busy-if="vm.loading">
                <div ui-grid="vm.userGridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>
        </div>
    </div>
</div>