@import 'theme/conf/mixins';
@import 'theme/conf/colorScheme/mint';
@import 'theme/conf/variables';

@import"theme/components/_accordion.scss";
@import"theme/components/_backTop.scss";
@import"theme/components/_baWizard.scss";
@import"theme/components/_contentTop.scss";
@import"theme/components/_msgCenter.scss";
@import"theme/components/_pageTop.scss";
@import"theme/components/_progressRound.scss";
@import"theme/components/_sidebar.scss";
@import"theme/components/_widgets.scss";


@import "theme/_socicon.scss";
@import "theme/bootstrap-overrides/_panel.scss";
@import "theme/bootstrap-overrides/_tabs.scss";

/*@import "theme/_blur-admin-theme.scss";*/
@import "theme/_layout.scss";
@import "theme/preloader";
@import 'theme/buttons.scss';

body a {
    color: #209e91;
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
}