@using Abp.Authorization.Users
@using Abp.MultiTenancy
@using Abp.Web.Mvc.Extensions

@section Styles
{
    @Html.IncludeStyle("~/Views/Account/findmypassword.css")
}
@section Scripts
{

  
    @Html.IncludeScript("/Views/Account/FindMyPassword.js")
}
 
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                        <div class="card card-signup">
                            <form class="form" id="findMypasswordForm" name="loginFormData" novalidate>
                                <div class="header-primary findpwd-hearder">
                                    <div>请输入你要找回的账号</div>
                                </div>
                                <div class="content">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-user-o"></i>
                                        </span>
                                        <input type="text" class="form-control" placeholder="请输入账号" autocomplete="off" id="UserName" name="UserName" maxlength="@AbpUserBase.MaxUserNameLength">
                                    </div>
                                </div>
                                <div class="footer text-center">
                                
                                    <a href="@Url.Action("Login")" class="btn btn-primary btn-simple pull-left" >返回<div class="ripple-container"></div></a>                  
                                    <button type="submit" href="#pablo" class="btn btn-primary">下一步</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    