.findpwd-hearder {
    height:40px;
    line-height:40px;
    padding-left:10px;
}
.findpwd-step-content {
    padding-top:30px;
}
.wizard-card {
    min-height:unset !important;
}
.color-white {
    color:white !important;
}