@using Abp.Authorization.Users
@using Abp.MultiTenancy
@using Abp.Web.Mvc.Extensions

@section Styles
{
@Html.IncludeStyle("~/creativeTim/assets/css/material-bootstrap-wizard.css")


    @Html.IncludeStyle("~/Views/Account/findmypassword.css")
}
@section Scripts
{

    @Html.IncludeScript("/Views/Account/FindMyPasswordTypes.js")
}

<body class="signup-page">
    <nav class="navbar navbar-transparent navbar-absolute">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navigation-example">
                <ul class="nav navbar-nav navbar-right">
                </ul>
            </div>
        </div>
    </nav>
    <div class="wrapper">
        <div class="header header-filter" style="background-image: url('/creativeTim/assets/img/city.jpg'); background-size: cover; background-position: top center;">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                        <div class="card card-signup wizard-card" data-color="purple">
                            <form class="form" id="findMypasswordForm" name="loginFormData" novalidate>
                                <div class="header-primary findpwd-hearder">
                                    <div class="col-sm-6 findpwd-text">你正在找回</div>
                                    <div class="col-sm-6 text-right">
                                        <a title="返回" href="/Account/FindMyPassword"><i class="fa fa-reply color-white" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="findpwd-step-content">
                                    <div  class="col-sm-6 text-center">
                                        <div class="choice" data-toggle="wizard-radio" rel="tooltip" title="Renters you approve will be able to take this boat">
                                            <input type="radio" name="job" value="Design">
                                            <div id="findPwdByPhone" class="icon">
                                                <i class="fa fa-mobile"></i>
                                            </div>
                                            <h6>电话找回</h6>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 text-center">
                                        <div class="choice" data-toggle="wizard-radio" rel="tooltip" title="Select this option if you or a certified captain will be included.">
                                            <input type="radio" name="job" value="Code">
                                            <div id="findPwdByEmail" class="icon">
                                                <i class="fa fa-envelope-o"></i>
                                            </div>
                                            <h6>邮箱找回</h6>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>