 <!-- Content Wrapper. Contains page content -->
<div  class="" ng-controller="app.views.dashboard.index as vm">
    <!-- Page header -->
    <div class="panel">
        <div class="title_left">
          <h3>@L("WelcomeMessage")</h3>
        </div>
    </div>
</div>
