<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ChnCharInfo" version="1.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="NPOI" version="2.2.1" targetFramework="net461" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net461" />
  <package id="SimplifiedChinesePinYinConversion" version="1.0.0" targetFramework="net461" />
</packages>